@using GamePortal.Helpers
@using GamePortal.Services
@using Microsoft.Extensions.Caching.Memory

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <CascadingValue Value="UserId" Name="UserId">
            <CascadingValue Value="UserName" Name="UserName">
                <CascadingValue Value="UpdateName" Name="UpdateName">
                    <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
                    <FocusOnNavigate RouteData="@routeData" Selector="h1" />
                </CascadingValue>
            </CascadingValue>
        </CascadingValue>
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    public string? UserName { get; set; }
    public string UserId { get; } = Guid.NewGuid().ToString();
    public Action<string> UpdateName { get; set; } = null!;

    protected override Task OnInitializedAsync()
    {
        UpdateName = (name) => UserName = name;
        return base.OnInitializedAsync();
    }
}
